p {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}
p {
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
}

.rainbow-text {
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(45deg, #ff0000, #ff9900, #ffff00, #33cc33, #3399ff, #9900cc);
    background-size: 600% 600%;
    color: transparent;
    background-clip: text;
    animation: rainbow 3s infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 82%;
    }
    25% {
        background-position: 100% 19%;
    }
    50% {
        background-position: 0% 82%;
    }
    75% {
        background-position: 100% 19%;
    }
    100% {
        background-position: 0% 82%;
    }
}
